.visible{
    display:block;
}

.invisible{
    display:none;
    background-color: black;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(#ffad33,#ffc266);
    min-width: 100vw;
    min-height: 100vh;

    form{
       
        border: none;
        background: linear-gradient(#ffc266,#ffad33);
        border-radius: 10%;
   
        fieldset{

          margin: 10px;
          border: none;
     
    
          label{
              width: 100%;
              background-color: white;
          }
            

            button{
                border: none;
                margin: 10px;
                padding: 5px;
                font-weight: bold;
                background-color: white;
                border-radius: 5px;
                height: 30px;
                width: 30%;
            }
        }

    }
}

.result{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    height: 100vh;
    font-weight: bold;
    font-size: 2rem;

    span{
        background-color: red;
        margin-left: 1rem;
    }
}